[Unit]
Description=My Python Script
After=network.target

[Service]
Type=simple
ExecStart=/home/yamamoto/workspace/network_monitoring/venv/bin/python3 /home/yamamoto/workspace/network_monitoring/api_for_send.py
WorkingDirectory=/home/yamamoto/workspace/network_monitoring
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target